<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Database</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/handle.js">
    </script>
</head>

<body>
    <h3>Insert new Info</h3>
    <p>Humidity: <input type="text" id="humidity"></p>
    <p>Temperature: <input type="text" id="temperature"></p>
    <button id="add">Add</button>
    <h4>Control Led</h4>
    <button id="LedON">ON</button> <button id="LedOFF">OFF</button>
    <h5>Delete Info</h5>
    <p>Delete id: <input type="text" id="id"></p>
    <button id="del">Delete</button>
    <button id="refresh">Refresh</button>
</body>

</html>