<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Database</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/show.js"></script>
</head>

<body>
    <h1>MY DATABASE</h1>
    <h2>Database sheet</h2>
    <div id="orders"></div>
</body>

</html>